# These variables are only available in your SST code.
# To apply them to your Lambda functions, checkout this doc - https://docs.serverless-stack.com/environment-variables#environment-variables-in-lambda-functions

APP_VERSION=0.0.1
API_CERT_ARN=
SITE_CERT_ARN=
DOMAIN=